{% extends 'base.html' %}
{% load static %}

    <main>
      {% block content %}
        <h1>Записи группы {{ group.title }}</h1>
        {% for post in posts %}
          <p>{{ group.title }}</p>
          <article>
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>      
            <p>{{ post.text }}</p>
          {% if not forloop.last %}<hr>{% endif %}
          </article>
        {% endfor %}
      {% endblock %}
    </main>